<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Variants.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- В этой секции определяется конфигурация ведения журнала для My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Раскомментируйте следующую секцию для записи в журнал событий приложения -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Раскомментируйте следующую секцию и замените APPLICATION_NAME на имя своего приложения для записи в журнал событий приложения -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Variants.My.MySettings>
            <setting name="Spectator_PreviewSize" serializeAs="String">
                <value>512, 512</value>
            </setting>
            <setting name="Spectator_CameraAutoSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Spectator_CameraMovementVelocity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Spectator_GizmoEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Spectator_GizmoSize" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="Spectator_ShowBodyNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Spectator_ShowEmitterNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Spectator_ShowTriggerNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Spectator_CameraRotationSensitivity" serializeAs="String">
                <value>0.07</value>
            </setting>
            <setting name="UserInterface_LocalizeLanguage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInterface_EditorBackColor" serializeAs="String">
                <value>WindowFrame</value>
            </setting>
            <setting name="UserInterface_EditorForeColor" serializeAs="String">
                <value>HighlightText</value>
            </setting>
            <setting name="Spectator_GizmoOutline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Spectator_ShowCameraNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Spectator_GizmoNamesOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Render_NormalFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Spectator_CameraVerticalBlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Spectator_CameraHeightStanding" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="Spectator_CameraHeightCrouching" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="Spectator_CrossNormalEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Spectator_CameraChaseSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Spectator_CameraChaseDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Spectator_DrawSelectedObjects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Spectator_CameraRotationAttenuation" serializeAs="String">
                <value>0.4</value>
            </setting>
        </Variants.My.MySettings>
    </userSettings>
</configuration>
